
.container {
    width: 1200px;
    margin: 0 auto;
}

.standard {
    display: inline;
}

span {
    font-weight: bold;
}

.ital {
    font-weight: 400;
    font-style: italic;
}

.blue {
    color: rgb(64, 64, 95);
}

.top {
    display: flex;
    justify-content: space-between;
}

.offer {
    margin-top: 70px;
    margin-left: 50px;
    width: 400px;
}

.green {
    color: green;
}

.orang {
    color: orange;
}