.container {
    width: 1200px;
    margin: 0 auto;
}

.standard {
    display: inline;
}

.tags {
    font-size: 35px;
    margin: 0;
}

.atr {
    font-size: 30px;
}

span {
    font-weight: bold;
}

.ital {
    font-weight: 400;
    font-style: italic;
}

.blue {
    color: rgb(64, 64, 95);
}

.green {
    color: green;
}

.orang {
    color: orange;
}

.normal, .violet, .red {
    font-weight: 400;
    text-decoration: underline;
}  

.normal {
    color: blue;
}

.violet {
    color: rebeccapurple;
}

.red {
    color: red;
}
 
.btn {
    display: block;
    width: 120px;
    background: orange;
    border-radius: 5px;
    color: rgb(77, 77, 77);
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
}