.container {
    width: 1200px;
    margin: 0 auto;
}

.tags {
    font-size: 35px;
    margin: 0;
}

span {
    font-weight: bold;
}

.ital {
    font-weight: 400;
    font-style: italic;
}

.blue {
    color: rgb(64, 64, 95);
}

.green {
    color: green;
}

.orang {
    color: orange;
}

.normal, .violet, .red {
    font-weight: 400;
    text-decoration: underline;
}  

.normal {
    color: blue;
}

.violet {
    color: rebeccapurple;
}

.red {
    color: red;
}

