.container {
    width: 1200px;
    margin: 0 auto;
}

.tags {
    font-size: 35px;
    margin: 0;
}

.atr {
    font-size: 30px;
}

span {
    font-weight: bold;
}

.ital {
    font-weight: 400;
    font-style: italic;
}

.blue {
    color: rgb(64, 64, 95);
}

.green {
    color: green;
}

.orang {
    color: orange;
}

.btn {
    width: 90px;
    background: orange;
    padding: 15px 60px;
    color: rgb(77, 77, 54);
    text-decoration: none;
}

.sapsan {
    width: 75em;
}

/* <span class="blue">&lt;&gt;</span> */