
.container {
    width: 1200px;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

.ital {
    font-weight: 400;
    font-style: italic;
}

.blue {
    color: rgb(64, 64, 95);
}

.img-atr {
    width: 700px;
}

.tags {
    font-size: 25px;
    margin: 0;
    color: rgb(64, 64, 95);
}

