body {
    background-color: azure;
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
p, ul, ol, div {
    margin: .5em 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
    margin: .3em;
}
h1 {
    font-size: 250%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 150%;
    color: brown;
    margin: 0 .3em;
}
h5 {
    font-size: 120%;
    background-color: pink;
    padding: 5px ;
    color: black;
}
h6 {
    font-size: 110%;
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 0 5px;
}
ul {
    list-style: disc;
    padding-left: 50px;
}
ol {
    list-style: decimal;
    padding-left: 50px;
}
dd {
    padding-left: 20px;
    margin-bottom: 5px;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.header {
    padding: 20px;
    background-color: aqua;
}
.header a {
    text-decoration: none;
    color: brown;
}
.footer {
    background-color: indigo;
    color:azure;
    padding: 20px;
}
.footer p {
    padding-left: 120px;
}
.btn {
    background-color: orange;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: azure;
}
/* Теги   
<span class="tag">&lt;&gt;</span>
*/
.tag {
    color: rgb(73, 73, 150);
    font-size: 18px;
}
/* Селектор 
<span class="slc"></span>
*/
.slc {
    color: rgb(206, 50, 50);
    font-size: 18px;
}
/* Свойство/Атрибуты 
<span class="atr"></span>
*/
.atr {
    color: orange;
    font-size: 18px;
}
/* Значение 
<span class="mean"></span>
*/
.mean {
    color: rgb(4, 190, 4);
    font-size: 18px; 
}

.titles {
    display: flex;
}
.titles p {
    padding-left: 20px;
}
.bcgr {
    width: 105%;
}
.playground-result {
    height: 150px; /* Высота блока */
    background-image: url(//webref.ru/example/image/shark.jpg); /* Фоновый рисунок */ 
    background-size: cover; /* Масштабирование фона */
    padding: 2rem 20px 20px; /* Поля */
    border: 10px dashed rgb(194, 101, 88); /* Параметры рамки */
    font-size: 3rem; /* Размер шрифта */ 
    font-weight: bold; /* Толщина шрифта */
    text-align: center; /* Расположение текста */
    color: rgb(255, 255, 255); /* Цвет текста */
    background-clip: border-box; /* Выведение фона */
}
.playground-result2 {
    height: 150px; /* Высота блока */
    background-image: url(//webref.ru/example/image/shark.jpg); /* Фоновый рисунок */ 
    background-size: cover; /* Масштабирование фона */
    padding: 2rem 20px 20px; /* Поля */
    border: 10px dashed rgb(194, 101, 88); /* Параметры рамки */
    font-size: 3rem; /* Размер шрифта */ 
    font-weight: bold; /* Толщина шрифта */
    text-align: center; /* Расположение текста */
    color: rgb(255, 255, 255); /* Цвет текста */
    background-clip: padding-box; /* Выведение фона */
}
.playground-result3 {
    height: 150px; /* Высота блока */
    background-image: url(//webref.ru/example/image/shark.jpg); /* Фоновый рисунок */ 
    background-size: cover; /* Масштабирование фона */
    padding: 2rem 20px 20px; /* Поля */
    border: 10px dashed rgb(194, 101, 88); /* Параметры рамки */
    font-size: 3rem; /* Размер шрифта */ 
    font-weight: bold; /* Толщина шрифта */
    text-align: center; /* Расположение текста */
    color: rgb(255, 255, 255); /* Цвет текста */
    background-clip: content-box; /* Выведение фона */
}
.img1 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: 
        url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
}
.img2 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: 
        url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;    
}
.img11 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
    background-size: 250px;
}
.img21 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;
    background-size: 250px;
}
.img12 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img22 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img13 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
    background-size: auto 75%;
}
.img23 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;
    background-size: auto 75%;
}
.img14 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img24 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img15 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/girl-images.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.img25 {
    height: 280px;
    width: 45%;
    display: inline-block;
    background-color: grey;
    background-image: url(../img/background-img/bg-size-img/cat-images.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}