.container {
    width: 1100px;
    margin: 0 auto;
}

.atr {
    color: rgb(4, 200, 4);
    font-weight:700;
    font-size: 18px;
}

.meаn {
    color: orange;
    font-weight:700;
    font-size: 18px; 
}

.tag {
    color: rgb(73, 73, 150);
    font-weight:700;
    font-size: 18px;
}

/* &lt;&gt; */