.container {
    width: 1100px;
    margin: 0 auto;
}
.atr {
    color: rgb(4, 140, 4);
    font-weight:700;
    font-size: 18px;
}
/* 
<span class="atr"></span>
 */
.mean {
    color: orange;
    font-weight:700;
    font-size: 18px; 
}
/* 
<span class="mean"></span>
 */
.tag {
    color: rgb(73, 73, 150);
    font-weight:700;
    font-size: 18px;
}
/*  
<span class="tag">&lt;&gt;</span>
*/
/* 
<span class="slc"></span>
 */
.slc {
    color: brown;
    font-weight:700;
    font-size: 18px;
}

.img {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    color: rgba(2, 2, 2, 0.808);
    font-size: 22px;
}
h4 {
    font-size: 20px;
    background-color:blanchedalmond;
    padding: 5px;

}

.menu {
    font-size: 20px;
    font-weight: 700;
}
.sample {
    background-color: rgb(233, 232, 232);
    width: 50%;
    padding-left: 15px;
}
.interest { 
    font-size: 150%;
}