body {
    background-color: rgba(234, 240, 149, 0.301);
    margin: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: aquamarine;
    padding: 7px;
}
.header a {
    color: brown;
    padding-left: 5px;
    text-decoration: none;
}

.footer {
    background-color: rgb(31, 2, 58);
    color: aliceblue;
    text-align: center;
    padding: 7px;
}

code {
    background-color: rgb(224, 146, 243);
    padding: 2px;
}