body {
    background-color: azure;
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
}
p, ul, ol, div {
    margin: .5em 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
    margin: .3em;
}
h1 {
    font-size: 250%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 150%;
    color: brown;
    margin: 0 .3em;
}
h5 {
    font-size: 120%;
    background-color: pink;
    padding: 5px ;
    color: black;
}
h6 {
    font-size: 110%;
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 0 5px;
}
ul {
    list-style: disc;
    padding-left: 50px;
}
ol {
    list-style: decimal;
    padding-left: 50px;
}
dd {
    padding-left: 20px;
    margin-bottom: 5px;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.header {
    padding: 20px;
    background-color: aqua;
}
.header a {
    text-decoration: none;
    color: brown;
}
.footer {
    background-color: indigo;
    color:azure;
    padding: 20px;
}
.footer p {
    padding-left: 120px;
}
.btn {
    background-color: orange;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: azure;
}
/* Теги   
<span class="tag">&lt;&gt;</span>
*/
.tag {
    color: rgb(73, 73, 150);
    font-size: 18px;
}
/* Селектор 
<span class="slc"></span>
*/
.slc {
    color: rgb(206, 50, 50);
    font-size: 18px;
}
/* Свойство/Атрибуты 
<span class="atr"></span>
*/
.atr {
    color: orange;
    font-size: 18px;
}
/* Значение 
<span class="mean"></span>
*/
.mean {
    color: rgb(4, 190, 4);
    font-size: 18px; 
}

.titles {
    display: flex;
}
.titles p {
    padding-left: 20px;
}

table {
    border-collapse: separate;
    width: 100%;
    margin: 2rem 0;
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
}
tr {
    background-color: rgb(131, 221, 191);
}
caption {
    background-color: bisque;
    padding: 10px 0;
}
th {
    background-color: aquamarine;
    padding: 10px 0;
}
td {
    padding: 5px 10px;
}
td img {
    width: 50px; 
    height: 50px;
}
.grad {
    width: 100px;
    height: 100px;
    background: linear-gradient(to top right, #000, #fff);
    margin-left: 30px;
}
.grad1 {
    width: 100px;
    height: 100px;
    background: linear-gradient(-45deg, #000, #fff);
    margin-left: 60px;
}

.linear {
    width: 100%;
    height: 50px;
    background: linear-gradient(red, blue);
}

.grad2 {
    width: 100%;
    height: 100px;
    background: linear-gradient(-45deg, #000, #fff);
}

.grad3 {
    width: 100%;
    height: 100px;
    background: linear-gradient(yellow, green, blue);
}

.grad4 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, red, orange, green, blue);
}

.grad5 {
    width: 100%;
    height: 100px;
    background: linear-gradient(red, yellow 10%, blue 50%);
}

.grad6 {
    width: 100%;
    height: 300px;
    background: url(../img/gradient-img/ornament.jpg);
}
.grad7 {
    background-image: linear-gradient(to top, transparent, rgba(30,87,153,0.8), rgba(30,87,153,1),
                      rgba(30,87,153,1), rgba(41,137,216,1), rgba(30,87,153,1), rgba(30,87,153,1),
                      rgba(30,87,153,0.8), transparent);
      color: #fff; 
      padding: 20px;
}

.grad8 {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(grey 50%, brown 50%);
}

.grad9 {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(grey 50%, brown 50%);
    background-size: 100% 30px;
}

.grad10 {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #f8ffe8, #e3f5ab 33%, #b7df2d);
    background-size: 30px;
}

.grad11 {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(transparent 50%, rgba(0,186,0,0.2) 50%), 
                      linear-gradient(90deg, rgba(0,186,0,0.2) 50%, transparent 50%);
    background-size: 40px 40px;
}