/* ОБНУЛЕНИЕ */
*, *::before, *::after { /* Все элементы, а также весь контент, выводимый ДО и ПОСЛЕ содержимого всех элементов*/
    padding: 0; /* Внутренние отступы - поля*/
    margin: 0; /* Наружные отступы*/
    border: 0; /* Границы - толщина, стиль, цвет*/
    box-sizing: border-box; /* Размер блока включает содержимое, поля и границы, но не включает наружные отступы*/
}
a {
    text-decoration: none; /* Убираем подчеркивание у ссылок*/
}
ul, ol, li {
    list-style: none; /* Убираем маркеры и отступы у пунктов всех списков*/
}
img {
    vertical-align: top; /* Выравниваем все изображения по вертикали - верх элемента по верхней части строки*/
}
h1, h2, h3, h4, h5, h6 { /* Все заголовки наследуют значения своих свойств у родительского элемента, если у
                         родителя указанное свойство установлено. */
    font-weight: inherit; /* Толщина*/
    font-size: inherit; /* Размер*/
}
html, body {
    height: 100%; /* Высота занимает весь экран*/
    line-height: 1; /* Для блочных элементов установлена одинарная высота строки*/
}
/* ---------- */
body {
    font-family: Rubik; /* Семейство шрифтов*/
    font-size: 12px; /* Размер шрифта*/
    color: #616161; /* Цвет шрифта*/
}
/* ---------- */
[class*="__container"] { /* Элемент содержит __container */
    padding: 0px 15px; /* Отступы безопасности*/
    max-width: 1087px; /* Максимальная ширина 1057px + 30px отступы безопасности*/
    margin: 0px auto; /* Выстраиваем контейнер по центру*/
}