body {
    background-color: azure;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
    margin: .3em;
}
h1 {
    font-size: 250%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 150%;
    color:brown;
    margin: 0 .3em;
}
h5 {
    font-size: 120%;
    background-color: pink;
    padding: 5px;
    color: black;
}
h6 {
    font-size: 110%;
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 0 5px;
}
ul {
    list-style: disc;
    padding-left: 30px;
}
ol {
    list-style: decimal;
    padding-left: 30px;
}
dd {
    padding-left: 20px;
    margin-bottom: 5px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    padding: 20px;
    background-color: aqua;
}
.footer {
    background-color: indigo;
    color: azure;
    padding: 20px;
}
.footer p {
    padding-left: 120px;
}
.btn {
    background-color: rgb(255, 165, 0, 0.5) ;
    border-radius: 95px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: azure;
    position: fixed;
    top: 80%;
    left: 1%;
}
.tags {
    font-size: 35px;
    margin: 0;
    color: rgb(64, 64, 95);
    font-weight: 700;
}
nav ul {
    background: #0083ca; /* Цвет фона */
    list-style: none; /* Убираем маркеры */
    margin: 0; padding: 0; /* Обнуляем все отступы */
    overflow: hidden; /* Отменяем обтекание */
}
nav li {
    float: left; /* Выстраиваем по горизонтали */
}
nav a {
    display: block; /* Блочный элемент */
    padding: 7px 15px; /* Поля вокруг текста */
    color: brown; /* Цвет текста */
    text-decoration: none;
    background: rgb(102, 199, 245);
    margin: 10px;
}

/* Теги   
<span class="tag">&lt;&gt;</span>
*/
.tag {
    color: rgb(73, 73, 150);
    font-size: 18px;
}
/* Селектор 
<span class="slc"></span>
*/
.slc {
    color: rgb(206, 50, 50);
    font-size: 18px;
}
/* Свойство/Атрибуты 
<span class="atr"></span>
*/
.atr {
    color: orange;
    font-size: 18px;
}
/* Значение 
<span class="mean"></span>
*/
.mean {
    color: rgb(4, 190, 4);
    font-size: 18px;
}
.titles {
    display: flex;
}
.titles p {
    padding-left: 20px;
}
.sintacsis {
    border: 1px solid pink;
    display: inline-block;
    padding: 10px;
    background: #fff;
}

.example {
    border: 3px pink solid;
    padding: 10px;
}
.block, .block2 {
    background: aquamarine;
    padding: 5px;
}
.block2 {
    width: 50%;
}
.accent {
    border-left: blue 3px solid;
    background-color: rgb(240, 219, 223);
    padding: 20px 10px;
}

.key {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 100px 70px;
}
@keyframes around {
    0%  { left: 0; top: 0; }
    25% { left: 240px; top: 0; }
    50% { left: 240px; top: 140px; }
    75% { left: 0; top: 140px; }
    100% { left: 0; top: 0; }
}
.key p {
    animation: around 4s linear 0s infinite;
    background: turquoise;
    color: white;
    height: 60px;
    line-height: 60px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 60px;
}
.play {
    display: flex;
}

.direct p { color: grey;}
.direct .normal div { animation-direction: normal;}
.direct .reverse div { animation-direction: reverse;}
.direct .alternate div { animation-direction: alternate;}
.direct .alternate-reverse div { animation-direction: alternate-reverse;}
.direct p:nth-child(1) strong { color: crimson;}
.direct div:nth-child(2) div { background: crimson;}
.direct p:nth-child(3) strong { color: midnightblue;}
.direct div:nth-child(4) div { background: midnightblue;}
.direct p:nth-child(5) strong { color: mediumseagreen;}
.direct div:nth-child(6) div { background: mediumseagreen;}
.direct p:nth-child(7) strong { color: goldenrod;}
.direct div:nth-child(8) div { background: goldenrod;}
.direct div {
    background: white;
    height: 20px;
    width: 220px;
}
.direct div div {
    animation: swipe 2s linear infinite;
    background: crimson;
    height: 20px;
    left: 0;
    margin-top: -1rem;
    position: relative;
    transition: 1s;
    width: 20px;
}
@keyframes swipe {
  0%  { left: 0;}
  100%{ left: 200px;}
}


.mode p {
    color: grey;
    margin: 0;
    position: relative;
}  
.mode p:first-child {
    margin-bottom: 1rem;
}  
.mode p span {
    animation: toggle 6s infinite both;
    left: 0;
    position: absolute;
} 
.mode p:first-child span {
    animation-name: tabs;
    margin-right: 1rem;
    position: static;
} 
.mode p span:nth-child(1) {
    animation-delay: 0;
    position: static;
} 
.mode p span:nth-child(2) {
    animation-delay: 2s;
}  
.mode p span:nth-child(3) {
    animation-delay: 4s;
}
.mode div {
    background: white;
    height: 20px;
    margin-bottom: 1rem;
    width: 220px;
}
.mode div div {
    animation: race-none 6s linear infinite;
    background: crimson;
    height: 20px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
}
.mode div:nth-child(7) div {
    animation-name: race-forwards;
}
.mode div:nth-child(10) div {
    animation-name: race-backwards;
}
.mode div:nth-child(13) div {
    animation-name: race-both;
}
@keyframes tabs {
    0% {opacity: 0.2;}
    1% {opacity: 1;}
    33% {opacity: 1;}
    34% {opacity: 0.2;}
    100% {opacity: 0.2;}
}
@keyframes toggle {
    0% {opacity: 0;}
    1% {opacity: 1;}
    33% {opacity: 1;}
    34% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes race-none {
    0% {background: crimson; left: 0;}
    33% {background: crimson; left: 0;}
    34% {background: midnightblue; left: 100px;}
    66% {background: mediumseagreen; left: 200px;}
    67% {background: crimson; left: 0;}
    100% {background: crimson; left: 0;}
}
@keyframes race-forwards {
    0% {background: crimson; left: 0;}
    33% {background: crimson; left: 0;}
    34% {background: midnightblue; left: 100px;}
    66% {background: mediumseagreen; left: 200px;}
    67% {background: mediumseagreen; left: 200px;}
    100% {background: mediumseagreen; left: 200px;}
}
@keyframes race-backwards {
    0% {background: midnightblue; left: 100px;}
    33% {background: midnightblue; left: 100px;}
    34% {background: midnightblue; left: 100px;}
    66% {background: mediumseagreen; left: 200px;}
    67% {background: crimson; left: 0;}
    100% {background: crimson; left: 0;}
}
@keyframes race-both {
    0% {background: midnightblue; left: 100px;}
    33% {background: midnightblue; left: 100px;}
    34% {background: midnightblue; left: 100px;}
    66% {background: mediumseagreen; left: 200px;}
    67% {background: mediumseagreen; left: 200px;}
    100% {background: mediumseagreen; left: 200px;}
}