body {
    background-color: azure;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
    margin: .3em;
}
h1 {
    font-size: 250%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 150%;
    color:brown;
    margin: 0 .3em;
}
h5 {
    font-size: 120%;
    background-color: pink;
    padding: 5px;
    color: black;
}
h6 {
    font-size: 110%;
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 0 5px;
}
ul {
    list-style: disc;
    padding-left: 30px;
}
ol {
    list-style: decimal;
    padding-left: 30px;
}
dd {
    padding-left: 20px;
    margin-bottom: 5px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    padding: 20px;
    background-color: aqua;
}
.footer {
    background-color: indigo;
    color: azure;
    padding: 20px;
}
.footer p {
    padding-left: 120px;
}
.btn {
    background-color: orange;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: azure;
}
.tags {
    font-size: 35px;
    margin: 0;
    color: rgb(64, 64, 95);
    font-weight: 700;
}
nav ul {
    background: #0083ca; /* Цвет фона */
    list-style: none; /* Убираем маркеры */
    margin: 0; padding: 0; /* Обнуляем все отступы */
    overflow: hidden; /* Отменяем обтекание */
}
nav li {
    float: left; /* Выстраиваем по горизонтали */
}
nav a {
    display: block; /* Блочный элемент */
    padding: 7px 15px; /* Поля вокруг текста */
    color: brown; /* Цвет текста */
    text-decoration: none;
    background: rgb(102, 199, 245);
    margin: 10px;
}

/* Теги   
<span class="tag">&lt;&gt;</span>
*/
.tag {
    color: rgb(73, 73, 150);
    font-size: 18px;
}
/* Селектор 
<span class="slc"></span>
*/
.slc {
    color: rgb(206, 50, 50);
    font-size: 18px;
}
/* Свойство/Атрибуты 

*/
.atr {
    color: orange;
    font-size: 18px;
}
/* Значение 
<span class="mean"></span>
*/
.mean {
    color: rgb(4, 190, 4);
    font-size: 18px;
}
.titles {
    display: flex;
}
.titles p {
    padding-left: 20px;
}
.sintacsis {
    border: 1px solid pink;
    display: inline-block;
    padding: 10px;
    background: #fff;
}

.example {
    border: 3px pink solid;
    padding: 10px;
}
.block, .block2 {
    background: aquamarine;
    padding: 5px;
}
.block2 {
    width: 50%;
}

.box {
    min-height: 60px; /* Минимальная высота */
    margin-bottom: 10px; /* Отступ снизу */
}
.box-1 {
    background: #CE242B; /* Красный фон */
}
.box-2 {
    background: #009D4B; /* Зелёный фон */
}
.box-3 {
    background: #3989C9; /* Синий фон */
}

.box-10 {
    background: #CE242B; /* Красный фон */
    min-height: 60px; /* Минимальная высота */
    position: relative; /* Относительное позиционирование */
    top: 20px; /* Расстояние сверху */
}
.box-10:hover {
    position: static; /* Статичное позиционирование */
}

.rlt0 p { 
    border: 2px solid blue; 
}

.rlt01 p {
    border: 2px solid blue;
  }
  
.rlt01 .second {
    position: relative;
    border-color: red;
    left: 20px;
    top: 10px;
}

.rlt h1 {
    font: normal 2em Arial, Tahome, sans-serif; /* Параметры шрифта */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0 1rem; /* Поля вокруг заголовка */
    overflow: hidden; /* Скрываем всё за пределами заголовка */
}
.rlt h1 span {
    position: relative; /* Относительное позиционирование */
    top: 0.48rem; /* Сдвигаем вниз */
}

button {
    background: #CE242B; /* Красный фон */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: .7rem 2rem; /* Поля вокруг текста */
    box-shadow: 5px 5px 0 #000; /* Параметры тени */
    position: relative; /* Относительное позиционирование */
    left: 0; /* Положение слева */
    top: 0; /* Положение сверху */
    transition: 1s; /* Время анимации */
}
   button:hover {
    left: 5px; /* Положение слева */
    top: 5px; /* Положение сверху */
    box-shadow: 0 0 0 #000; /* Параметры тени */
}

.z img {
    border: 1px solid #ce242b; /* Параметры рамки */
    position: relative; /* Относительное позиционирование */
    transition: 1s; /* Время анимации */
}
.z img:hover {
    z-index: 10; /* Поверх всех картинок */
    transform: scale(1.2); /* Масштабирование на 20% */
}

.abs0 section {
    background: gold;
    height: 200px;
    padding: 10px;
    position: relative; /* Превращает <section> в точку отсчёта для <p> */
} 
.abs0 p {
    background: limegreen;
    color: white;
    padding: 10px;
    position: absolute; /* Делает <p> свободно перемещаемым */
    bottom: 10px; /* 10px снизу */
    left: 20px; /* 20px слева */
}

.abs1 {
    margin: 0; /* Убираем отступы */ 
    position: relative; /* Превращает abs1 в точку отсчёта для sidebar и content */
    height: 250px;
    padding: auto;
}
.abs1 .sidebar, .abs1 .content { 
 position: absolute; /* Абсолютное позиционирование */
 overflow: auto; /* Полосы прокрутки при необходимости */
 padding: 10px; /* Поля вокруг текста */
 top: 67px; /* Расстояние от верхнего края */
 bottom: 0; /* Расстояние от нижнего края */
}
.abs1 .content {
    margin-right: 5px;
}
.abs1 header {
 height: 60px; /* Высота */
 background: #FEDFC0; /* Цвет фона */
 border-bottom: 1px solid #7B5427; /* Линия снизу */
}
.abs1 header h1 { 
 line-height: 60px; /* Выравниваем по середине */
 margin: 0 10px; /* Сдвигаем заголовок */
}
.abs1 .sidebar { 
 width: 150px; /* Ширина */
 background: #ECF5E4; /* Цвет фона */
 border-right: 1px solid #231F20; /* Линия справа */
}
.abs1 .content {
 left: 171px; /* Расстояние от левого края */ 
 right: 0; /* Расстояние справа */
}

.abs2 {
    margin: 0; /* Убираем отступы */ 
    position: relative; /* Превращает abs2 в точку отсчёта для overlay и dialog */
    height: 250px;
    
}
.overlay {
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; top: 0; bottom: 0; /* Занимает всё пространство */
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный цвет фона */
}
.dialog {
    position: absolute; /* Абсолютное позиционирование */
    background: #fff; /* Цвет фона */
    width: 260px; /* Ширина */
    padding: 20px; /* Поля */
    min-height: 80px; /* Минимальная высота */
    left: 0; right: 0; /* Нужно для выравнивания */
    margin: 80px auto 0; /* Выравниваем по центру */
}

.abs3 {
    height: 70px;
}
.checkbox {
    width: 28px; /* Ширина переключателя */
    height: 28px; /* Высота переключателя */
    background: #333; /* Цвет рамки */
}
.checkbox input[type=checkbox] {
    position: absolute; /* Абсолютное позиционирование */
    left: -9999px; /* Скрываем элемент */
}
.checkbox input[type=checkbox]:checked + label {
    background: #009d4b; /* Цвет фона включенного переключателя */
}
.checkbox label {
    display: block; /* Блочный элемент */
    width: 20px; /* Ширина */
    height: 20px; /* Высота */
    position: relative; /* Относительное позиционирование */
    left: 4px; top: 4px; /* Смещаем вправо и вниз */
    background: #fff; /* Цвет фона выключенного переключателя */
}

.block-1 {
    position: relative; /* Относительное позиционирование */
    background: #3989c9; /* Синий цвет фона */
    min-height: 160px; /* Минимальная высота */
    padding: 20px; /* Поля */
    border: 2px solid #000; /* Параметры границы */
}
.block-2 {
    position: absolute; /* Абсолютное позиционирование */
    right: 0; bottom: 0; /* Положение элемента */
    background: #feea3f; /* Жёлтый цвет фона */
    width: 50px; height: 50px; /* Размеры элемента */
}

.abrec {
    position: relative;
    height: 300px;
}
.plumb, .pub {
    position: absolute; /* Абсолютное позиционирование */
}
.pub {
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    left: 10px; top: 10px; /* Положение даты */
    text-align: center; /* Выравнивание по центру */
    padding: 5px 10px; /* Поля вокруг текста */
    min-width: 40px; /* Минимальная ширина */
    border: 2px solid #fff; /* Параметры рамки */
}
.date {
    font-size: 28px; /* Размер шрифта */
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}
   /* Выводим треугольник */
[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: 1.4em; left: 20px;
    width: 0; height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #3989c9;
} 
   /* Выводим саму подсказку */
[data-tooltip]:hover::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 400px; /* Ширина подсказки */
    left: 0; top: 2em; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    border-radius: 5px; /* Скругляем уголки */
}